<p id="notice"><%= notice %></p>

<% if @current_user %>
<p>
  <b>Id:</b>
  <%= @post.id %>
</p>
<% end %>

<div id="container">
	<section id="content">
		<div id="inner-content">
      <section class="content" id="post-content">
			  <h1><%= @post.title %></h1>			
			  <div id="posts">				
					  <div class="article">						
						  <section class="content">
							  <p><%= simple_format(@post.content) %></p>
						  </section>            
					  </div>				
			  </div>
      </section>  
      <%= render 'post_comments'%>			
		</div>
	</section>  
</div>


<% if @current_user %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<% end %>
